body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: arial;
}

#body_frame {
    
    width: 977px;
    background: #B3B4BD;
    border: 1px solid ccc;
    margin: 10px auto 0;
    padding: 1em; 
       
}

#login_form {
    width:300px;
    background: #f0f0f0;
    border: 1px solid white;
    margin: 50px auto 0;
    padding: 1em; 
}

#flashdata {
    color: #e13300;
    padding: 1em; 
       
}
a {
    text-decoration: none;
}

a.decorate {
    text-decoration:underline;
}

a.ticketHeader {
    font-size: 20px;
}

#top_links {
    width:340px;
    background: #f0f0f0;
    margin: 5px 0 0 600px;
    padding: 1em;
}

#city_links {
    width:940px;
    background: #f0f0f0;
    padding: 1em;
    display: block;
}


h1,h2,h3,h4,h5 {
    margin-top: 0;
    font-family: arial;
    text-align: left;
}

#bigHeader {
    margin-top: 0;
    font-family: arial;
    text-align: center;
    font-size: 30;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 0 1em 0;
    width: 200px;
    border: 5px;
    padding: 1em;
}

input[type=submit], form a {
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    background: #348075;
    color: white;
    box-shadow: 0 1px 0 white;
    border-shadow: 0 1px 0 white;
}

input[type=submit]:hover, form a:hover{
    background: #287368;
    cursor: pointer;
}

.error {
    color: #393939;
    font-size: 15px;
}

fieldset {
    width: 300px;
    margin: auto;
    margin-bottom: 2em;
    display: block;
}

h1 {
    text-shadow: 0 1px 0 white;
}
